@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@300;400;700&family=Roboto:ital,wght@0,400;1,300&display=swap");
.navbar__icon, .navbar__item {
  color: hsl(0, 0%, 100%);
  margin: 0 0 0 3rem;
  cursor: pointer;
}
.navbar__icon:hover, .navbar__item:hover {
  color: hsl(174, 100%, 43%);
}
.navbar__icon, .navbar__item, .navbar__icon::before, .navbar__item::before, .navbar__icon::after, .navbar__item::after {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  cursor: pointer;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: hsl(252, 78%, 55%);
}

.statistics__text, .services__title, .gallery-team__name, .gallery-work__title, .footer__title, .footer__link, .navbar__icon, .navbar__item {
  font-size: clamp(0.7rem, 2vw, 0.9rem);
}

.intro__button, .top-text__description, .services__description, .accordion__title, .accordion__content, .gallery-team__job-title, .gallery-work__subtitle {
  font-size: clamp(0.8rem, 1vw, 1rem);
}

.top-text__subtitle, .slider__text, .slider__name, .map__title {
  font-size: clamp(1.3rem, 3vw, 1.6rem);
}

.top-text__title {
  font-size: clamp(1.5rem, 3vw, 2rem);
}

.intro__subtitle {
  font-size: clamp(1.8rem, 5vw, 3.5rem);
}

.statistics__text--big {
  font-size: clamp(3rem, 4vw, 4.8rem);
}

.intro__title {
  font-size: clamp(2.8rem, 10vw, 6rem);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  color: hsl(0, 0%, 60%);
  --swiper-theme-color: colors.$dark;
  --swiper-navigation-color: colors.$dark;
}

.wrapper {
  position: relative;
  max-width: 83rem;
  margin: auto;
  padding: 0 1.5rem;
}

.header {
  height: 100vh;
  background-image: url("../img/header-bg-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.header__menu {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  padding: 0 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__menu--fixed {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 1.5rem;
  background-color: hsl(252, 78%, 55%);
  box-shadow: 0 0 0.625rem hsl(0, 0%, 60%);
}
.header__logo {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}
.header__hamburger {
  display: none;
  cursor: pointer;
}
.header__hamburger--active .header__bar:nth-child(2) {
  opacity: 0;
}
.header__hamburger--active .header__bar:nth-child(1) {
  transform: translateY(0.5rem) rotate(45deg);
  -webkit-transform: translateY(0.5rem) rotate(45deg);
  -moz-transform: translateY(0.5rem) rotate(45deg);
  -ms-transform: translateY(0.5rem) rotate(45deg);
  -o-transform: translateY(0.5rem) rotate(45deg);
}
.header__hamburger--active .header__bar:nth-child(3) {
  transform: translateY(-0.5rem) rotate(-45deg);
  -webkit-transform: translateY(-0.5rem) rotate(-45deg);
  -moz-transform: translateY(-0.5rem) rotate(-45deg);
  -ms-transform: translateY(-0.5rem) rotate(-45deg);
  -o-transform: translateY(-0.5rem) rotate(-45deg);
}
.header__bar {
  display: block;
  background-color: hsl(0, 0%, 100%);
  height: 0.1875rem;
  width: 1.5625rem;
  margin: 0.3125rem auto;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}

.navbar__menu {
  list-style: none;
  display: flex;
  align-items: center;
}
.navbar__item {
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}
.navbar__item--active {
  color: hsl(174, 100%, 43%);
}
.navbar__item::after {
  content: "";
  height: 0.1875rem;
  background-color: hsl(174, 100%, 43%);
  width: 100%;
  position: absolute;
  top: 1.5rem;
  left: 0;
  opacity: 0;
}
.navbar__item--active::after, .navbar__item:hover::after {
  opacity: 1;
}

.intro {
  max-width: 53.125rem;
  margin: auto;
  padding: 0 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro__subtitle {
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-family: "Kaushan Script", cursive;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.intro__title {
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.9;
}
.intro__title::after {
  content: "";
  display: block;
  margin: 3rem auto 0;
  height: 0.1875rem;
  width: 3.75rem;
  background-color: hsl(0, 0%, 100%);
}
.intro__button {
  font-weight: 700;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  outline: none;
  border: 0.1875rem solid hsl(0, 0%, 100%);
  padding: 0.7rem 2rem;
  margin-top: 3rem;
  background: none;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.intro__button:hover {
  color: hsl(252, 78%, 55%);
  border-color: hsl(252, 78%, 55%);
}

@media all and (max-width: 53.125em) {
  .header__logo {
    order: 1;
  }
  .header__hamburger {
    display: block;
    order: 2;
  }
  .header__navbar {
    display: none;
    order: 3;
  }
  .navbar--active {
    display: block;
  }
  .navbar__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem 0;
    gap: 1rem;
  }
}
@media all and (max-width: 40.625em) {
  .intro__title::after {
    margin: 2rem auto 0;
  }
  .intro__button {
    padding: 0.5rem 1rem;
    margin-top: 2.5rem;
  }
}
.about__gallery-about {
  margin-bottom: 6.6rem;
}

.top-text {
  max-width: 59.375rem;
  margin: 6rem auto;
  text-align: center;
}
.top-text--big-space {
  padding-top: 6.6rem;
}
.top-text--large-space {
  padding-top: 7.6rem;
}
.top-text__subtitle {
  font-family: "Kaushan Script", cursive;
  color: hsl(0, 0%, 20%);
  margin-bottom: 1rem;
}
.top-text__subtitle::first-letter {
  text-transform: uppercase;
}
.top-text__title {
  color: hsl(0, 0%, 20%);
  font-weight: 700;
  text-transform: uppercase;
}
.top-text__title::after {
  content: "";
  display: block;
  width: 3.75rem;
  height: 0.1875rem;
  margin: 2.5rem auto;
  background-color: hsl(252, 78%, 55%);
}
.top-text__description {
  font-family: "Roboto", sans-serif;
  line-height: 1.6rem;
}

.gallery-about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.gallery-about__item {
  max-width: 23.75rem;
  background-color: hsl(174, 100%, 43%);
  border-radius: 0.4375rem;
  -webkit-border-radius: 0.4375rem;
  -moz-border-radius: 0.4375rem;
  -ms-border-radius: 0.4375rem;
  -o-border-radius: 0.4375rem;
}
.gallery-about__image-container {
  background: linear-gradient(to bottom, hsl(252, 78%, 55%), hsl(174, 100%, 43%));
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  border-radius: 0.4375rem;
  -webkit-border-radius: 0.4375rem;
  -moz-border-radius: 0.4375rem;
  -ms-border-radius: 0.4375rem;
  -o-border-radius: 0.4375rem;
}
.gallery-about__image-container:hover {
  transform: translate3d(-0.625rem, -0.625rem, 0);
  -webkit-transform: translate3d(-0.625rem, -0.625rem, 0);
  -moz-transform: translate3d(-0.625rem, -0.625rem, 0);
  -ms-transform: translate3d(-0.625rem, -0.625rem, 0);
  -o-transform: translate3d(-0.625rem, -0.625rem, 0);
}
.gallery-about__image-container:hover .gallery-about__image {
  opacity: 0.1;
}
.gallery-about__image-container:hover .gallery-about__content {
  opacity: 1;
}
.gallery-about__content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  opacity: 0;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.gallery-about__image {
  display: block;
  max-width: 100%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  border-radius: 0.4375rem;
  -webkit-border-radius: 0.4375rem;
  -moz-border-radius: 0.4375rem;
  -ms-border-radius: 0.4375rem;
  -o-border-radius: 0.4375rem;
}
.gallery-about__title {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin-top: 0.6rem;
}
.gallery-about__icon {
  color: hsl(0, 0%, 100%);
}

@media all and (max-width: 43.75em) {
  .top-text {
    margin: 3rem auto;
  }
  .top-text--big-space {
    padding-top: 2rem;
  }
  .top-text--large-space {
    padding-top: 2rem;
  }
  .about__gallery-about {
    margin-bottom: 3rem;
  }
}
.statistics {
  background-color: hsl(174, 100%, 43%);
}
.statistics__item {
  flex: 1;
  text-align: center;
  padding: 6rem 2rem;
  border-left: 0.0625rem solid hsla(0, 0%, 100%, 0.3);
}
.statistics__item:last-child {
  border-right: 0.0625rem solid hsla(0, 0%, 100%, 0.3);
}
.statistics__text {
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
}
.statistics__text--big {
  font-weight: 700;
  margin-bottom: 1rem;
}

.statistics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media all and (max-width: 56.25em) {
  .statistics__item:nth-child(n) {
    flex: none;
    border: none;
    padding: 3rem;
  }
}
@media all and (max-width: 37.5em) {
  .statistics__item:nth-child(n) {
    padding: 2rem;
  }
}
.services__item {
  background-color: hsl(0, 0%, 100%);
  padding: 2.6rem 1.3rem;
  display: flex;
  align-items: flex-start;
}
.services__icon {
  color: hsl(252, 78%, 55%);
  padding-right: 1.3rem;
}
.services__title {
  color: hsl(0, 0%, 20%);
  text-transform: uppercase;
}
.services__description {
  font-family: "Roboto", sans-serif;
  color: hsl(0, 0%, 60%);
  margin-top: 0.6rem;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23.125rem, 1fr));
  row-gap: 0.0625rem;
  background-color: hsl(0, 0%, 90%);
  margin-bottom: 5rem;
}

@media all and (max-width: 48.75em) {
  .services__item {
    padding: 2rem 1rem;
  }
}
@media all and (max-width: 43.75em) {
  .services-container {
    margin-bottom: 0;
  }
}
@media all and (max-width: 31.25em) {
  .services-container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .services__item {
    flex-direction: column;
  }
  .services__title {
    margin-top: 1rem;
  }
}
.unique-design {
  background-image: url("../img/unique-design-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.unique-design__images {
  margin: 2rem auto 0;
  padding: 0 2rem;
  max-width: 37.5rem;
  position: relative;
}
.unique-design__ipad {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.unique-design__iphone {
  position: absolute;
  display: block;
  width: 12.5rem;
  bottom: -5%;
  right: 0;
  transform: translate3d(0, 5%, 0);
  -webkit-transform: translate3d(0, 5%, 0);
  -moz-transform: translate3d(0, 5%, 0);
  -ms-transform: translate3d(0, 5%, 0);
  -o-transform: translate3d(0, 5%, 0);
}

@media all and (max-width: 46.875em) {
  .unique-design__images {
    max-width: 25rem;
  }
  .unique-design__iphone {
    max-width: 9.375rem;
    right: -1.25rem;
  }
}
@media all and (max-width: 31.25em) {
  .unique-design__iphone {
    display: none;
  }
}
.we-do__image {
  display: block;
  max-width: 100%;
  border-radius: 0.4375rem;
  -webkit-border-radius: 0.4375rem;
  -moz-border-radius: 0.4375rem;
  -ms-border-radius: 0.4375rem;
  -o-border-radius: 0.4375rem;
}

.we-do-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 7.3rem;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.accordion__icon {
  position: absolute;
  color: hsl(252, 78%, 55%);
  left: 1rem;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
}
.accordion__header {
  position: relative;
  border: 0.0625rem solid hsl(0, 0%, 90%);
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.accordion__header:hover {
  background-color: hsl(0, 0%, 90%);
}
.accordion__title {
  text-transform: uppercase;
  color: hsl(0, 0%, 20%);
  margin-left: 2.5rem;
}
.accordion__content {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  padding: 1.3rem;
  border: 0.0625rem solid hsl(0, 0%, 90%);
  border-top: none;
}
.accordion__content--show {
  display: block;
}
.accordion__content--hide {
  display: none;
}

@media all and (max-width: 59.375em) {
  .we-do-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media all and (max-width: 43.75em) {
  .we-do-container {
    margin-bottom: 3rem;
  }
}
@media all and (max-width: 33.125em) {
  .accordion__header {
    padding: 0.7rem;
  }
  .accordion__content {
    padding: 1rem;
  }
}
@media all and (max-width: 21.875em) {
  .accordion__icon {
    display: none;
  }
  .accordion__title {
    margin-left: 0;
  }
}
.reviews--gray {
  background-color: hsl(0, 0%, 97%);
}
.reviews--white {
  background-color: hsl(0, 0%, 100%);
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.slider {
  position: relative;
}
.slider__item {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 4rem;
  align-items: center;
  padding: 4.6rem 6.6rem;
}
.slider__icon {
  display: block;
}
.slider__icon--message {
  border: 0.1875rem solid hsl(252, 78%, 55%);
  padding: 2.6rem;
}
.slider__icon--human {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.slider__text {
  font-style: italic;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-bottom: 1.5rem;
}
.slider__name {
  font-family: "Kaushan Script", cursive;
  text-transform: capitalize;
  color: hsl(0, 0%, 20%);
  padding-left: 4.7rem;
  position: relative;
}
.slider__name::before {
  content: "";
  position: absolute;
  display: block;
  height: 0.1875rem;
  width: 3.75rem;
  background-color: hsl(252, 78%, 55%);
  left: 0;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
}

@media all and (max-width: 50em) {
  .slider__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .slider__icon {
    max-width: 100%;
  }
}
@media all and (max-width: 28.125em) {
  .slider__item {
    padding: 2.6rem 3.6rem;
  }
  .slider__icon {
    display: none;
  }
  .slider__name {
    padding-left: 0;
  }
  .slider__name::before {
    display: none;
  }
}
.team__gallery-team {
  margin-bottom: 7.6rem;
}

.gallery-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.gallery-team__item {
  max-width: 100%;
  display: block;
}
.gallery-team__item-wrapper {
  background-color: hsl(174, 100%, 43%);
  border-radius: 0.4375rem;
  -webkit-border-radius: 0.4375rem;
  -moz-border-radius: 0.4375rem;
  -ms-border-radius: 0.4375rem;
  -o-border-radius: 0.4375rem;
}
.gallery-team__image-container {
  background: linear-gradient(to bottom, hsl(252, 78%, 55%), hsl(174, 100%, 43%));
  cursor: pointer;
  position: relative;
  border-radius: 0.4375rem;
  -webkit-border-radius: 0.4375rem;
  -moz-border-radius: 0.4375rem;
  -ms-border-radius: 0.4375rem;
  -o-border-radius: 0.4375rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.gallery-team__image-container:hover {
  transform: translate3d(-0.625rem, -0.625rem, 0);
  -webkit-transform: translate3d(-0.625rem, -0.625rem, 0);
  -moz-transform: translate3d(-0.625rem, -0.625rem, 0);
  -ms-transform: translate3d(-0.625rem, -0.625rem, 0);
  -o-transform: translate3d(-0.625rem, -0.625rem, 0);
}
.gallery-team__image-container:hover .gallery-team__image {
  opacity: 0.1;
}
.gallery-team__image-container:hover .social {
  opacity: 1;
}
.gallery-team__social {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
}
.gallery-team__image {
  max-width: 100%;
  display: block;
  border-radius: 0.4375rem;
  -webkit-border-radius: 0.4375rem;
  -moz-border-radius: 0.4375rem;
  -ms-border-radius: 0.4375rem;
  -o-border-radius: 0.4375rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.gallery-team__description {
  text-align: center;
  padding-top: 2rem;
}
.gallery-team__name {
  font-weight: 700;
  text-transform: uppercase;
  color: hsl(0, 0%, 20%);
}
.gallery-team__job-title {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  text-transform: capitalize;
  padding-top: 0.6rem;
}

.social {
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.social__item {
  width: 3.4375rem;
  text-align: center;
  background-color: hsl(174, 100%, 43%);
  padding: 1rem;
  border-right: 0.0625rem solid hsl(252, 78%, 55%);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.social__item:last-child {
  border-right: none;
}
.social__item:hover {
  background-color: hsl(252, 78%, 55%);
}
.social__item:hover .social__icon {
  color: hsl(0, 0%, 100%);
}
.social__icon {
  color: hsl(252, 78%, 55%);
}

@media all and (max-width: 43.75em) {
  .team__gallery-team {
    margin-bottom: 3rem;
  }
}
@media all and (max-width: 21.875em) {
  .social {
    flex-direction: column;
  }
  .social__item {
    border-bottom: 0.0625rem solid hsl(252, 78%, 55%);
    border-right: none;
    padding: 0.5rem;
    width: auto;
  }
  .social__item:last-child {
    border-bottom: none;
  }
}
.logos {
  background-color: hsl(0, 0%, 97%);
}
.logos__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  padding: 4rem 0;
}
.logos__image {
  max-width: 100%;
  display: block;
}

@media all and (max-width: 43.75em) {
  .logos__container {
    gap: 2rem;
    padding: 2rem 0;
  }
}
.gallery-work {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column dense;
}
.gallery-work__item {
  position: relative;
  background: linear-gradient(to bottom, hsl(252, 78%, 55%), hsl(174, 100%, 43%));
  cursor: pointer;
}
.gallery-work__item:nth-child(5) {
  grid-row: span 2;
}
.gallery-work__item:hover .gallery-work__image {
  opacity: 0.1;
}
.gallery-work__item:hover .gallery-work__content {
  opacity: 1;
}
.gallery-work__image {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.gallery-work__content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  color: hsl(0, 0%, 100%);
  opacity: 0;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.gallery-work__title {
  padding-top: 1rem;
  text-transform: uppercase;
}
.gallery-work__subtitle {
  padding-top: 1rem;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

@media all and (max-width: 62.5em) {
  .gallery-work {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .gallery-work__item:nth-child(2) {
    grid-row: span 2;
  }
}
@media all and (max-width: 43.75em) {
  .gallery-work {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .gallery-work__item:nth-child(7) {
    grid-row: span 2;
  }
}
@media all and (max-width: 28.125em) {
  .gallery-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.map {
  background-image: url("../img/open-map.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  cursor: pointer;
}
.map::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0.85);
  z-index: 1;
}
.map__content {
  text-align: center;
  color: hsl(252, 78%, 55%);
  padding: 3.3rem 0;
  position: relative;
  z-index: 2;
}
.map__title {
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 1.2rem;
}
.map__title::after {
  content: "";
  display: block;
  height: 0.1875rem;
  width: 3.75rem;
  background-color: hsl(252, 78%, 55%);
  margin: 1.5rem auto 0;
}

.footer__title {
  text-align: center;
  color: hsl(0, 0%, 20%);
  padding: 1.3rem 1rem;
}
.footer__link {
  text-decoration: none;
  color: hsl(252, 78%, 55%);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.footer__link:hover {
  color: hsl(0, 0%, 20%);
}

.button-top {
  background-color: hsl(252, 78%, 55%);
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem 0.9rem;
  margin: 1rem;
  box-shadow: 0 0 0.625rem hsla(0, 0%, 0%, 0.3);
  z-index: 999;
  cursor: pointer;
  display: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.button-top:hover {
  background-color: hsl(238, 70%, 40%);
}
.button-top__icon {
  color: hsl(0, 0%, 100%);
}/*# sourceMappingURL=style.css.map */