$red: #f38181;
$red-dark: #ee6e6e;
$yellow: #fce38a;
$green: #95e1d3;
$white-alpha: rgb(255, 255, 255, 0.3);
$white-alpha-map: rgb(255, 255, 255, 0.85);
$dark: #333;
$silver: #999999;
$silver-light: #e5e5e5;
$gray: #f8f8f8;
$white: #fff;
$button-top-shadow: rgba(0, 0, 0, 0.3);
