$purple: hsl(252, 78%, 55%);
$purple-dark: hsl(238, 70%, 40%);
$green: hsl(174, 100%, 43%);
$white-alpha: hsla(0, 0%, 100%, 0.3);
$white-alpha-map: hsla(0, 0%, 100%, 0.85);
$dark: hsl(0, 0%, 20%);
$silver: hsl(0, 0%, 60%);
$silver-light: hsl(0, 0%, 90%);
$gray: hsl(0, 0%, 97%);
$white: hsl(0, 0%, 100%);
$button-top-shadow: hsla(0, 0%, 0%, 0.3);
