// ---------------------------------------------
// ------------------FONTS----------------------
// ---------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@300;400;700&family=Roboto:ital,wght@0,400;1,300&display=swap');

$font-kaushan: 'Kaushan Script', cursive;
$font-montserrat: 'Montserrat', sans-serif;
$font-roboto: 'Roboto', sans-serif;

// ---------------------------------------------
// ------------------COLORS---------------------
// ---------------------------------------------
$red: #f38181;
$yellow: #fce38a;
$green: #95e1d3;
$white-alpha: rgb(255, 255, 255, 0.3);
$dark: #333;
$silver: #999999;
$silver-light: #e5e5e5;
$gray: #f8f8f8;
$white: #fff;

// ---------------------------------------------
// ------------------MIXINS---------------------
// ---------------------------------------------
@mixin transition($props, $duration, $timing-function) {
	transition: $props $duration $timing-function;
	-webkit-transition: $props $duration $timing-function;
	-moz-transition: $props $duration $timing-function;
	-ms-transition: $props $duration $timing-function;
	-o-transition: $props $duration $timing-function;
}

@mixin translate($x, $y: 0, $z: 0) {
	transform: translate3d($x, $y, $z);
	-webkit-transform: translate3d($x, $y, $z);
	-moz-transform: translate3d($x, $y, $z);
	-ms-transform: translate3d($x, $y, $z);
	-o-transform: translate3d($x, $y, $z);
}

// ---------------------------------------------
// ---------------PLACEHOLDERS------------------
// ---------------------------------------------
%header-navbar-item {
	color: #fff;
	font-size: 0.9rem;
	margin: 0 0 0 3rem;
	cursor: pointer;

	&:hover {
		color: $yellow;
	}

	&,
	&::before,
	&::after {
		@include transition(all, 0.3s, ease);
	}
}

%slider-button {
	position: absolute;
	top: 50%;
	cursor: pointer;

	@include translate(0, -50%);
}
